
body {
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh; /* Optional: Adjust the height based on your design */
}

.center-container {
  padding-top: 3%;
  text-align: center;
}


input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  cursor: pointer;
}

.chips {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.chip {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.chip-close {
  cursor: pointer;
  margin-left: 5px;
}

.chip.highlight {
  background-color: lightblue;
}